.alerts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
}

.search-product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
}

.search-product-input {
    min-width: 450px;
}

.games {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 1650px) {
    .games {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1250px) {
    .games {
        grid-template-columns: repeat(2, 1fr);
    }
}

.game {
    display: flex;
    width: 400px;
    padding: 20px;
}

.thumbnail {
    border-radius: 10px;
}


.thumbnail img{
    width: inherit;
    height: 300px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.thumbnail description {
    color: #7f7f7f;
}

.product-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.price-cart {
    margin-right: 20px;
}

.border {
    border: 2px solid red;
}

.checkout {
    margin-top: 20px;
}

.total {
    margin-left: auto;
}

#nav-header,.header {
    background: #1f1e1e !important;
}

.nav-title {
    color: #FFFFFF !important;
}

.header-title {
    padding-left: 10px;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.empty img {
    margin-top: 20px;
    height: 400px;
}

.main-title {
    padding-top: 20px;
}

.button-submit {
    margin-top: 10px;
}
